:root {
    --primary-green-500: Green 500: hsl(158, 36%, 37%);
    --primary-green-700: Green 700: hsl(158, 42%, 18%);
    --neutral-black: hsl(212, 21%, 14%);
    --neutral-grey: hsl(228, 12%, 48%);
    --neutral-cream: hsl(30, 38%, 92%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-size: 14px;
    --font-primary: 'Montserrat';
    --font-secondary: 'Fraunces';
    --font-weight-small: 500;
    --font-weight-large: 700; 
}

html {
    background-color: rgb(235, 223, 207);
}

.card {
    display: flex;
    text-align: center;
    width: 700px;
    height: 500px;
    box-sizing: content-box;
    background-color: var(--neutral-white);
    border-radius: 10px;
}

.left {
    position: static;
    display: block;
    width: 50vw;
    height: inherit;
    box-sizing: border-box;
}

img {
    z-index: 0;
    width: inherit;
    height: inherit;
    object-fit: cover;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.right {
    display: block;
    position: static;
    text-align: left;
    padding: 1em;
    margin: 1em;
}

h1, h2, p, button {
    font-family: var(--font-primary);
}

h1 {
    font-weight: var(--font-weight-small);
    font-size: var(--font-size);
    font-kerning: auto;
}